Example Unity Project/Library/
Example Unity Project/Temp/
beep.js/node_modules/
Screenshots/
Example Unity Project/Example Unity Project.Editor.csproj
Example Unity Project/Example Unity Project.csproj
Example Unity Project/Example Unity Project.sln
